# Hydra
HYDRA_SYSTEM_SECRET=please-change-this-in-real-env-32chars-min
HYDRA_PAIRWISE_SALT=please-change-this-too
HYDRA_ISSUER_URL=http://localhost:4444/
HYDRA_LOGIN_URL=http://localhost:3000/login
HYDRA_CONSENT_URL=http://localhost:3000/consent
HYDRA_LOGOUT_URL=http://localhost:3000/logout

# Postgres
POSTGRES_USER=hydra
POSTGRES_PASSWORD=hydra
POSTGRES_DB=hydra